# ── Traslado de Puntos — Variables de entorno para tests ──
# Copia este archivo como .env y ajusta los valores.

LOGIN_URL=https://[server]/[idWorkOrder]_[nameEnv].UI/?version=6.7.1.0.0.11#/administrationGeneral/login
TEST_USERNAME=jjorge
TEST_PASSWORD1=++++++
TEST_PASSWORD2=++++++
