# ── Variables de entorno para tests Ficohsa ──
# Copia este archivo como .env y ajusta los valores.

LOGIN_URL=https://[server]/[idWorkOrder]_[nameEnv].UI/?version=6.7.1.0.0.11#/administrationGeneral/login
LOGIN_USERNAME= 
LOGIN_PASSWORD=
TRANSFER_AMOUNT=
TRANSFER_CONCEPT=
TRANSFER_EMAIL=
TRANSFER_ACCOUNT_GT=

